<div class="card">
    <div class="card-body p-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <legend class="d-flex justify-content-center">Crear nuevo registro</legend>
            <div class="form-group">
                <div class="input-field col-s12">
                    <input type="number" name="humedad" formControlName="humedad" required
                        placeholder="Ingrese el valor de la humedad" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f}">
                </div>
            </div>

            <div class="form-group">
                <div class="input-field col-s12">
                    <input type="number" name="nivel" formControlName="nivel" required
                        placeholder="Ingrese el valor del nivel" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f}">
                </div>
            </div>

            <div class="form-group">
                <div class="input-field col-s12">
                    <input type="number" name="temperatura" formControlName="temperatura" required
                        placeholder="Ingrese el valor de la temperatura" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f}">
                </div>
            </div>
            <button class="btn btn-secondary mt-4 w-100">Guardar</button>
        </form>
    </div>
</div>